.custom-popup .leaflet-popup-content-wrapper table {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	table-layout: fixed;
	width: 320px;
  }
  
.custom-popup .leaflet-popup-content-wrapper td.td1 {
	margin: 0px;
	padding: 1px;
	text-align: center;
	width: 80px;
  }
  
.custom-popup .leaflet-popup-content-wrapper td.td0 {
	margin: 0px;
	padding: 1px;
	text-align: left;
	border-width: 0px 1px 0px 1px;	
	width: 80px;
  }
  
.custom-popup .leaflet-popup-content-wrapper th {
	margin: 0px;
	padding: 1px;
	text-align: center;
	width: 80px;
  }

# mapbox {
	height:600px;
}

#mapnav {
	float: left;
	width: 20%;
	font-size: 80%;
	height:200px;
}

#sch_list {
	font-size: 80%;
	overflow: auto;
	height:400px;
}

#map {
	height:600px;
}
